<template>
    <div>
        <router-link to="/user/list">
            <button>사용자 목록</button>
        </router-link>
        <table>
            <tbody>
            <tr>
                <th>ID</th>
                <td>{{addUser.id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>
                    <label>
                        <input type="text" v-model="addUser.name"/>
                    </label>
                </td>
            </tr>
            <tr>
                <th>User Name</th>
                <td>
                    <label>
                        <input type="text" v-model="addUser.username"/>
                    </label>
                </td>
            </tr>
            <tr>
                <th>E Mail</th>
                <td>
                    <label>
                        <input type="text" v-model="addUser.email"/>
                    </label>
                </td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>
                    <label>
                        <input type="text" v-model="addUser.phone"/>
                    </label>
                </td>
            </tr>
            <tr>
                <th>Web Site</th>
                <td>
                    <label>
                        <input type="text" v-model="addUser.website" required/>
                    </label>
                </td>
            </tr>
            <tr>
                <th>Company</th>
                <td>
                    <table>
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <td>
                                <label>
                                    <input type="text" v-model="addUser.company.name"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Catch Phrase</th>
                            <td>
                                <label>
                                    <input type="text" v-model="addUser.company.catchPhrase"/>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>BS</th>
                            <td>
                                <label>
                                    <input type="text" v-model="addUser.company.bs"/>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>

        <button @click="actionAdd">저장</button>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Request} from '@/views/User/model/UserForm';
    import {UserContext, store} from '@/views/User/store/UserStore';

    @Component
    export default class Add extends Vue {

        private userStore = UserContext.context(store);
        private addUser: Request.Add.User = new Request.Add.User;

        public actionAdd() {
            this.userStore.actions.addUser(this.addUser);
        }
    }
</script>
