<template>
    <div>
        <button @click="$router.push({name: 'userAdd'})">사용자 등록</button>
        <button @click="getFindAll">사용자 목록 조회</button>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>E mail</th>
                <th>PHONE</th>
                <th>WEB SITE</th>
                <th>COMPANY</th>
            </tr>
            </thead>
            <colgroup>
                <col width="1%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="5%">
                <col width="15%">
            </colgroup>
            <tbody>
            <tr v-for="(user, idx) in userStore.getters.findAll()" :key="user.id">
                <td><a :href="`/user/${user.id}/modify`">{{user.id}}</a></td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.website}}</td>
                <td>
                    <span>Name : {{user.company.name}}</span><br/>
                    <span>Catch Phrase : {{user.company.catchPhrase}}</span><br/>
                    <span>BS : {{user.company.bs}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {UserContext, store} from '@/views/User/store/UserStore';

    @Component
    export default class List extends Vue {

        private userStore = UserContext.context(store);

        public created() {
            this.getFindAll();
        }

        public getFindAll() {
            this.userStore.actions.findAll();
        }
    }
</script>
