<template>
    <div>
        <router-link to="/user/list">
            <button>사용자 목록</button>
        </router-link>
        <table>
            <tr>
                <th>findOne</th>
                <th></th>
                <th>modifyUser</th>
            </tr>
            <tr>
                <td>
                    <table>
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ userStore.getters.findOne().id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ userStore.getters.findOne().name }}</td>
                        </tr>
                        <tr>
                            <th>User Name</th>
                            <td>{{ userStore.getters.findOne().username }}</td>
                        </tr>
                        <tr>
                            <th>E Mail</th>
                            <td>{{ userStore.getters.findOne().email }}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ userStore.getters.findOne().phone }}</td>
                        </tr>
                        <tr>
                            <th>Web Site</th>
                            <td>{{ userStore.getters.findOne().website }}</td>
                        </tr>
                        <tr>
                            <th>Company</th>
                            <td>
                                <table>
                                    <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{userStore.getters.findOne().company.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Catch Phrase</th>
                                        <td>{{userStore.getters.findOne().company.catchPhrase}}</td>
                                    </tr>
                                    <tr>
                                        <th>BS</th>
                                        <td>{{userStore.getters.findOne().company.bs}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <table>
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <td>{{ modifyUser.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>
                                <input type="text" v-model="modifyUser.name"/>
                            </td>
                        </tr>
                        <tr>
                            <th>User Name</th>
                            <td>
                                <input type="text" v-model="modifyUser.username"/>
                            </td>
                        </tr>
                        <tr>
                            <th>E Mail</th>
                            <td>
                                <input type="text" v-model="modifyUser.email"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>
                                <input type="text" v-model="modifyUser.phone"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Web Site</th>
                            <td>
                                <input type="text" v-model="modifyUser.website"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Company</th>
                            <td>
                                <table>
                                    <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <td>
                                            <label>
                                                <input type="text" v-model="modifyUser.company.name"/>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Catch Phrase</th>
                                        <td>
                                            <label>
                                                <input type="text" v-model="modifyUser.company.catchPhrase"/>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>BS</th>
                                        <td>
                                            <label>
                                                <input type="text" v-model="modifyUser.company.bs"/>
                                            </label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <button @click="modify">수정</button>
        <button @click="remove">삭제</button>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Request} from '@/views/User/model/UserForm';
    import {UserContext, store} from '@/views/User/store/UserStore';

    @Component
    export default class Modify extends Vue {

        private userStore = UserContext.context(store);
        private modifyUser: Request.Modify.User = new Request.Modify.User;

        public created() {
            const userId: number = Number(this.$route.params.id);
            this.userStore.actions.findOne(userId).then(()=>this.modifyUser = this.userStore.getters.modifyUser());
        }

        public modify() {
            this.userStore.actions.modifyUser(this.modifyUser);
        }

        public remove() {
            this.userStore.actions.removeUser(this.modifyUser.id);
        }
    }
</script>
