<template>
    <div v-show="spinnerVisible" class="mask">
        <span class="spinner">요청하신 작업 진행중입니다.</span>
    </div>
</template>

<script lang="ts">

    import {Component, Vue, Prop} from 'vue-property-decorator';
    import eventBus from '@/eventbus';

    @Component
    export default class Spinner extends Vue {

        public spinnerVisible: boolean = false;

        public showSpinner(): void {
            this.spinnerVisible = true;
        }

        public hideSpinner(): void {
            this.spinnerVisible = false;
        }

        public created() {
            eventBus.$on('before-request', this.showSpinner);
            eventBus.$on('request-error', this.hideSpinner);
            eventBus.$on('after-response', this.hideSpinner);
            eventBus.$on('response-error', this.hideSpinner);
        }

        public beforeDestroy() {
            eventBus.$off('before-request', this.showSpinner);
            eventBus.$off('response-error', this.hideSpinner);
            eventBus.$off('request-error',  this.hideSpinner);
            eventBus.$off('after-response', this.hideSpinner);
        }

    }
</script>

<style scoped>
    .mask {
        opacity: 0.7;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 9000;
        background-color: #000000;
        left: 0;
        top: 0;
    }

    .spinner {
        position: absolute;
        left: 40%;
        top: 40%;
        z-index: 10000;
        font-weight: bold;
        font-size: 30px;
        color: aliceblue;
        background-color: crimson;
    }
</style>
