<template>
    <div id="app">
        <router-link to="/user/list">User List</router-link>
        <spinner></spinner>
        <router-view/>
    </div>
</template>


<script lang="ts">

    import {Component, Vue} from 'vue-property-decorator';
    import Spinner from '@/components/Spinner.vue';

    @Component({
        components:{
            Spinner
        }
    })
    export default class App extends Vue {
    }
</script>


<style>
    table {
        border: 1px solid #444444;
    }

    th, td {
        border: 1px solid #444444;
    }
</style>
